@btn-df: #1890ff;
@btn-add : limegreen;
@btn-sv : 	#CCCC00;

@primary-color : #CCCC00;


// .btn{
//   border : none;
// }
// .btn-df{
//   background-color: @btn-df;
// }
// .btn-add, .btn-add:hover { background-color: @btn-add; }
// .btn-sv,.btn-sv:hover { background-color: @btn-sv; }

// .btn:hover{
//   box-shadow: 1px -2px 2px rgba(2,1,1,0.6);
// }

