.selectOption{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
}
.formItem{
  margin: 0 0 5px 0;
}
.formItem,.selectItem{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}
.back{
  margin-right: 10px;
}
.idData{
  float: left;
  font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: gray;
}
